<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      $if(headtitle)$
        $headtitle$
      $else$
        $title$
      $endif$
      &ndash; OT Explained
    </title>
    <link rel="stylesheet" href="/css/layout.css" />
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css" />
    <link reL="stylesheet" href="/css/visualization.css" />
  </head>
  <body>
    <script src="/static/underscore/underscore.js"></script>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script src="/static/ot/dist/ot.js"></script>
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <a class="navbar-brand" href="/index.html">OT Explained</a>
        <ul class="nav navbar-nav">
          <li><a href="/what-is-ot.html">What is OT?</a></li>
          <li><a href="/ot-for-javascript.html">OT.js</a></li>
          <li><a href="/visualization.html">Visualization</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <h1>$title$</h1>
      $body$
    </div>
  </body>
</html>